<footer>
  <div class="content-padding">
      <div class="footer-content" >
          <p>Copyright &copy; Chameera Nuwan</p>

          <div class="social-media-icons">
            <a href="https://www.facebook.com/chameeraabeygunarathna"><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com/u/0/102753354802555769879"><i class="fa fa-google-plus-official"></i></a>
          </div>
      </div>
  </div>
</footer>